body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .containerMatch {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .match {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
.match a{
  text-decoration: none;
}
  .team {
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }

  .time {
    font-size: 16px;
    color: #666;
  }

  .status {
    font-size: 16px;
    color: #999;
  }

  .match:last-child {
    border-bottom: none;
  }

  /* 2nd container starts */
  